*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f5f7fa;
}

header{
    background:#1565C0;
    padding:15px 5%;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    color:white;
    font-size:28px;
    font-weight:bold;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:500;
}

.hero{
    height:90vh;

    background:
    linear-gradient(
    rgba(0,0,0,.5),
    rgba(0,0,0,.5)
    ),
    url("../img/San\ Bartolome.jpg");

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;


    text-align:center;

    color:white;
}

.hero-content h1{
    font-size:55px;
    margin-bottom:20px;
}

.hero-content p{
    font-size:20px;
    margin-bottom:30px;
}

.btn{
    background:#2E7D32;
    color:white;
    text-decoration:none;
    padding:15px 30px;
    border-radius:10px;
    font-weight:bold;
}

.info{
    padding:80px 10%;
    text-align:center;
}

.info h2{
    margin-bottom:20px;
    color:#1565C0;
}

.info p{
    max-width:900px;
    margin:auto;
    line-height:1.8;
}

.lugares{
    padding:80px 10%;
}

.lugares h2{
    text-align:center;
    margin-bottom:40px;
    color:#1565C0;
}

.cards{
    display:flex;
    gap:30px;
    flex-wrap:wrap;
    justify-content:center;
}

.card{
    width:320px;
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:.3s;
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.card h3{
    padding:15px;
}

.card p{
    padding:0 15px 20px;
}

footer{
    background:#1565C0;
    color:white;
    text-align:center;
    padding:20px;
}